<domain type='hvf'>
    <name>{{ name }}</name>
    <memory>{{ memory }}</memory>
    <currentMemory>{{ memory }}</currentMemory>
    <vcpu>{{ cpu }}</vcpu>
    <os>
        <type arch='aarch64' machine='virt'>hvm</type>
        <boot dev='cdrom'/>
    </os>
    <devices>
        <disk type='file' device='disk'>
            <driver name='qemu' type='qcow2'/>
            <source file='{{ disk_image }}'/>
            <target dev='vda' bus='virtio'/>
        </disk>
        <rng model='virtio'>
            <backend model='random'>/dev/urandom</backend>
        </rng>
        <interface type='network'>
            <source network='{{ network_name }}'/>
        </interface>
        <graphics type='vnc' port='-1'/>
        <memballoon model='virtio'/>
    </devices>
</domain>
